<app-header titulo="Contagiados"></app-header>

<ion-content >
  <ion-list class="ion-margin">
    <ion-list-header>
      Guatemala
    </ion-list-header>
  
  <ion-item>
    <ion-range min="-200" max="200" color="secondary">
      <ion-label slot="start">Total de casos</ion-label>
      <ion-label slot="end">77,040</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-range min="-200" max="200" color="success">
      <ion-label slot="start">Personas recuperadas</ion-label>
      <ion-label slot="end">65,029</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-range min="-200" max="200" color="danger">
      <ion-label slot="start">Muertes</ion-label>
      <ion-label slot="end">2825</ion-label>
    </ion-range>
  </ion-item>
</ion-list>

<ion-list class="ion-margin" color="tertiary">
  <ion-list-header>
    Todo el mundo
  </ion-list-header>

<ion-item>
  <ion-range min="-200" max="200" color="secondary">
    <ion-label slot="start">Total de casos</ion-label>
    <ion-label slot="end">26.6 M</ion-label>
  </ion-range>
</ion-item>

<ion-item>
  <ion-range min="-200" max="200" color="success">
    <ion-label slot="start">Personas recuperadas</ion-label>
    <ion-label slot="end">17.7 M</ion-label>
  </ion-range>
</ion-item>

<ion-item>
  <ion-range min="-200" max="200" color="danger">
    <ion-label slot="start">Muertes</ion-label>
    <ion-label slot="end">875 k</ion-label>
  </ion-range>
</ion-item>


</ion-list>
</ion-content>