<app-header titulo="Sintomas"></app-header>


<ion-content>
    <ion-avatar style="width: 200px; height: 200px; " >
      <img style="margin: 45px; display: block;" src="/assets/fiebre.svg" >
    </ion-avatar>
    <ion-label color="dark" ><h1 style="text-align: center;">Temperatura mayor a  <br>  37 grados</h1></ion-label>

    <ion-avatar style="width: 200px; height: 200px; " >
      <img style="margin: 45px; display: block;" src="/assets/tos.svg" >
    </ion-avatar>
    <ion-label color="dark" ><h1 style="text-align: center;">Tos seca</h1></ion-label>

    <ion-avatar style="width: 200px; height: 200px; " >
      <img style="margin: 45px; display: block;" src="/assets/respiracion.svg" >
    </ion-avatar>
    <ion-label color="dark" ><h1 style="text-align: center;">Dificultades para <br> respirar</h1></ion-label>
</ion-content>
